.app {
  &__navigation {
    display: flex;
    justify-content: center;
    padding: 2rem;

    &__item {
      padding: 8px 16px;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 100px;
      border: 1px solid #000;
      transition: all 0.3s ease-in-out;

      + .app__navigation__item {
        margin-left: 16px;
      }

      &--active {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .chart-wrapper {
    height: 450px;
    margin-bottom: 2rem;
    padding: 0 50px;
  }

  &__bar-chart-page,
  &__gauge-chart-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    padding: 0 50px;
  }

  &__bar-chart-page {
    &__buttons {

      button {
        + button {
          margin-left: 16px;
        }
      }
    }
  }

  &__gauge-chart-page {
  }

  &__gauge-chart-page {
    &__buttons {
      select {
        padding: 16px;
        border-radius: 8px;
        background: #fff;
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

svg {
  background: #eee;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: none;
}

button {
  max-width: 250px;
  padding: 8px 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

