body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  background: #eee;
  margin-bottom: 80px;
  overflow: visible;
}

button {
  margin-left: 5px;
  width: 100px;
}

